<div class="container-md">
  <div class="row">
    <button
      type="button"
      class="btn btno-utline-dark"
      routerLink="/nuevo-producto"
    >
      Nuevo Producto
    </button>

    <div class="header">
      <h1><h1>Lista de Productos</h1></h1>
    </div>
  </div>
  <div class="row">

    <table class="table table-responsive table-bordered">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Minimo</th>
        </tr>
      </thead>
      <tbody>
        @for(producto of lista_productos$; track producto.id; let i = $index){
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.categoria }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.minimo }}</td>
          <td>
            <button
              class="btn btn-outline-success"
              routerLink="/editar-producto/{{ producto.id }}"
            >
              Editar
            </button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>


